body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    color: #111111;
    font-weight: normal;
    text-transform: capitalize;
}

* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 30px;
    color: #2f2f2f;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: .5px;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
}

/* - Section-title start
================================================== */
.section-title {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
    padding: 15px 0;
    line-height: 0.65;
    position: relative;
    text-transform: capitalize;
}

/* - 2 - global area end
==================================================================================================== */

/*section-block*/
.section-block {
    padding: 30px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.section-block__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

/*section-block end*/

/* - 3 - fixed-left/right side body start
==================================================================================================== */
.app {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    outline: 1px solid red;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.content {
    width: 75%;
    float: right;
    position: relative;
}

.content__inner {
    padding: 30px;
    background-color: #ffffff;
}

.sidebar {
    width: 24%;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: 0 10px 40px 0 rgba(1, 1, 1, 0.1);
}

.sidebar .profile {
    padding: 80px 0 0;
    position: relative;
    margin-bottom: 40px;
}

.profile__site-name {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.sidebar .profile-image {
    padding: 0 20px;
}

.sidebar .profile-image > img {
    width: 100%;
    height: auto;
    display: block;
}

.sidebar .profile-name {
    padding: 35px 0;
    background-color: #ffffff;
    box-shadow: 0 10px 40px 15px rgba(1, 1, 1, 0.1);
}

.sidebar .profile-name h1.user-name {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 10px;
    font-family: 'Merienda', cursive;
    padding: 0 20px;
}

.sidebar .discription {
    margin-bottom: 50px;
    padding: 50px 35px 50px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

/* right-side-body
.................................................. */

/* - 3 - fixed-left/right side body end */

/*header*/

.page-header {
    position: relative;
    box-shadow: 0 10px 40px 0 rgba(1, 1, 1, 0.1);
    margin-bottom: 30px;
}

.topmenu {
    width: 100%;
    box-shadow: none;
    background-color: #ffffff;
}

.topmenu__list {
    display: table;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topmenu__item {
    display: table-cell;
    vertical-align: middle;
}

.topmenu__link {
    color: #111111;
    white-space: nowrap;
    display: block;
    text-align: center;
    text-transform: capitalize;
    padding: 15px 0;
}

.topmenu__link--active {
    background: #2196f3;
    color: #ffffff;
}

/*header end*/

/*footer*/
.footer-section {
    width: 100%;
    height: 100px;
    display: table;
    position: relative;
    line-height: 100px;
    padding-left: 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 40px 0 rgba(1, 1, 1, 0.1);
}

/*footer end*/


/*contact page*/
.contact-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-left {
    width: 50%;
}
.contact-right {
    width: 50%;
}
/*contact page end*/
